body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
}
h1 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}
h3 {
  padding: 0px 0px 0px 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: left;
}
ul {
  margin-top: 2px;
  margin-bottom: 2px;
}
hr {
  margin-top: 2px;
  margin-bottom: 2px;
}
@media screen and (min-width: 900px) {
  body {
    max-width: 900px;
    /*max-width: 8.5in;*/
    /*max-width: 75%;*/
  }
}
@media print {
  body {
    font-size: 80%;
    max-width: 100%;
  }
  #header-links {
    display: none;
  }
}
#header td {
  padding: 0;
  margin: 0;
}
#header {
  text-align: center margin: 0px;
  padding: 0px 0px 0px 0px;
  border-collapse: collapse;
}
.title {
  padding: 1px 0px 1px 0px;
  width: 70%;
}
.section {
  padding: 4px 0px 10px 0px;
  margin: 0px;
}
.entry {
  padding: 0px 0px 3px 0px;
}
