{{#resume.basics}}
<header class="resume-header clearfix">
    <!-- <div class="profile-pic pull-left">
        <img src="{{picture}}" alt="profile-pic">
    </div> -->
    <div class="profile-header pull-left">
        <h1>{{name}}</h1>
        <!-- <h2>{{label}}</h2> -->
    </div>
    <div class="about-info pull-right">
      {{#if email}}
          {{> info-tag text=this.email icon="fa-envelope-o"}}
      {{/if}}

      {{#if phone}}
          {{> info-tag text=this.phone icon="fa-mobile"}}
      {{/if}}

      {{#if website}}
          {{> info-tag text=this.website icon="fa-desktop" url=this.website}}
      {{/if}}
      <span class="social-links">
          {{#if profiles}}
              {{#each profiles}}
                  {{> social}}
              {{/each}}
          {{/if}}
      </span>
    </div>
</header>
{{/resume.basics}}
