{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="experience"}}

    {{#each resume.work}}
        <section class="item">
            <div class="org-title-container">
                <div class="org-logo logo-col-left">
                  <img src="{{logo}}" alt="">
                </div>
                <div class="logo-col-right">
                    {{> section-header name=this.company }}
                    {{#if position}}
                    <h4>{{position}}</h4>
                    {{/if}}
                </div>
            </div>

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
