/* Utils */
/*----- Colors -----*/
/*----- Fonts -----*/
/*----- Dimensions and sizes -----*/
/* Base */
body {
  background: #f8f8f8;
  margin: 50px 0 100px;
  letter-spacing: .3px;
  color: #39424B; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 1px; }

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .5px; }

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .4px;
  margin-bottom: 2px; }
  h3.bold {
    font-weight: 600; }

h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px; }
  h4.bold {
    font-weight: 700; }

h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px; }

h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px; }

a {
  color: inherit;
  text-decoration: inherit; }
  a:hover {
    color: #2895F1; }
  a .fa-external-link {
    font-size: 10px;
    vertical-align: text-top; }

p,
li {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px; }

blockquote {
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 10px 25px; }

em {
  color: #999; }

ul {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 5px 0 0;
  -webkit-padding-start: 25px; }
  ul li {
    padding-left: 10px; }
  ul.minimal {
    list-style: none;
    padding: 0; }
    ul.minimal li {
      margin-bottom: 3px;
      padding-left: 0; }
  ul.two-column {
    -webkit-column-count: 2;
    -webkit-column-gap: 28px;
    column-count: 2;
    column-gap: 28px; }
    ul.two-column li {
      padding-left: 0; }

@page {
  size: A4; }

.container {
  padding-top: 15px; }

.section-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 4px; }

.keyline {
  width: 45px;
  margin: 5px 0 10px;
  border-top: 1px solid #0077b5; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.work-details {
  margin: 0;
  padding-left: 20px; }

.study-area {
  font-style: italic; }

.graduating {
  font-weight: 550; }

.courses {
  font-size: 0.8px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.fa-linkedin-square {
  color: #0077b5; }

.fa-stack-overflow {
  color: #f48024; }

.fa-github {
  color: #333; }

.profile-pic {
  margin-top: -5px;
  margin-right: 18px; }
  .profile-pic img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 2px solid #0077b5; }

.about-info {
  margin-left: 22px; }

.location {
  font-size: 8.8px; }

.logo-col-left {
  float: left; }

.work-title {
  margin-left: 45px; }

.company-title {
  margin-left: 30px; }

.education-title {
  float: none; }

.resume-header {
  color: #000000; }

.org-logo {
  margin-right: 5px;
  display: inline-flex; }
  .org-logo img {
    height: 20px;
    width: 20px;
    border-radius: 50%; }

.startDate {
  font-size: 10px; }

.endDate {
  font-size: 10px; }

.summary {
  margin: 5px 0 5px; }

/* Layouts */
.page {
  background: white;
  width: 612px;
  min-height: 792px;
  display: block;
  margin: 0 auto;
  border-top: 0px solid #0077b5;
  padding: 18px 22px 30px 34px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); }
  .page:after {
    content: "";
    display: table;
    clear: both; }

.left-column {
  float: left;
  width: 67%;
  margin-right: 22px;
  word-wrap: break-word; }

.right-column {
  width: 174px;
  overflow: hidden;
  word-wrap: break-word; }

.item {
  margin-bottom: 15px; }
  .item:last-child {
    margin-bottom: 0; }

@media print {
  body {
    margin: 0; }
  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 28px 0 28px;
    box-shadow: none; }
    .page .resume-header,
    .page .resume-content {
      padding: 10px 22px 10px 34px; }
  .container {
    page-break-inside: avoid; }
  .work-container .item {
    page-break-inside: avoid; }
  .fa-external-link {
    display: none; } }

/* Components */
.info-tag-container {
  margin-top: 0px;
  margin-botton: 0px; }
  .info-tag-container .fa {
    font-size: 14px;
    width: 12px;
    margin-right: 0.5px;
    text-align: center;
    vertical-align: middle; }
    .info-tag-container .fa.fa-map-marker {
      font-size: 16px; }
    .info-tag-container .fa.fa-mobile {
      font-size: 18px; }
    .info-tag-container .fa.fa-envelope-o {
      font-size: 12px; }
    .info-tag-container .fa.fa-desktop {
      font-size: 11px; }
    .info-tag-container .fa.fa-external-link {
      width: auto;
      font-size: inherit;
      vertical-align: text-top; }
  .info-tag-container .info-text {
    font-size: 9px;
    display: inline-block;
    vertical-align: middle;
    width: 151px; }

.info-tag-social-container {
  margin-bottom: 0px; }
  .info-tag-social-container .fa {
    font-size: 14px;
    width: 12px;
    margin-right: 0.5px;
    text-align: center;
    vertical-align: middle; }
    .info-tag-social-container .fa.fa-map-marker {
      font-size: 16px; }
    .info-tag-social-container .fa.fa-mobile {
      font-size: 18px; }
    .info-tag-social-container .fa.fa-envelope-o {
      font-size: 12px; }
    .info-tag-social-container .fa.fa-desktop {
      font-size: 11px; }
    .info-tag-social-container .fa.fa-external-link {
      width: auto;
      font-size: inherit;
      vertical-align: text-top; }
  .info-tag-social-container .info-text {
    font-size: 9px;
    display: inline-block;
    vertical-align: middle;
    width: 1; }

.references-container .fa {
  font-size: 14px; }
